################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# Файл переменных окружения с секретами — не коммитить
/.env

/CoreBPM/.vs
/.vs
/CoreBPM/CoreBPM/corebpm.client/obj/Debug
/CoreBPM/CoreBPM/CoreBPM.Server/bin/Debug/net10.0
/CoreBPM/CoreBPM/CoreBPM.Server/obj/Debug/net10.0
/CoreBPM/CoreBPM/CoreBPM.Server/obj
/CoreBPM/CoreBPM/CoreBPM.Server/obj
