################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OpenBPM/.vs
/.vs
/OpenBPM/OpenBPM/openbpm.client/obj/Debug
/OpenBPM/OpenBPM/OpenBPM.Server/bin/Debug/net10.0
/OpenBPM/OpenBPM/OpenBPM.Server/obj/Debug/net10.0
